.navbar {
  color: #fff;
  position: absolute;
  margin-top: 0;
  top: 0;
  z-index: 1000;
  width: 110%;
  background-color: #f9f9f9;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}

.nav-title {
  font-size: 24px;
  color: #1773fe;
  text-decoration: none;
  font-weight: bold;
}

.nav-center {
  display: flex;
  gap: 40px;
}
.nav-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #6e6e6edf;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: #000000df;
}
.nav-create-post{
  transform: translateY(2px);
}
.nav-profile-pic{
  width: 40px;
  border: solid 1px rgb(0, 255, 42);
  border-radius: 50px;
  margin-bottom: -3px ;
}
.nav-user-info{
  display: flex;
  flex-direction: column;
}
.nav-username{
  color: rgb(93, 0, 255);
}
.nav-search-form input{
  text-align: center;
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 25px;
  color: rgb(62, 62, 62);
  background-color: rgb(206, 206, 206);
}
.nav-search-form label{
  color: black;
  font-weight: bold;
  padding: 5px;
}
.logout-button {
  background-color: #e74c3c;
  color: white;
  text-align: center;
  width: 60px;
  height: 30px;
  border: none;
  padding: 6px 12px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.5s ease;
}
.logout-button:hover{
  background-color: #b43c2f;
}
.logout-button:active{
  background-color: #9a3428;
}
/* .nav-search-form{
  position: relative;
} */
 .searchMsge{
  position: relative;
 }
@media (max-width: 768px) {
  .nav-right {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}